<div class="modal-dialog modal-dialog-centered">
	<div class="modal-content">
		<div class="modal-body">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<div class="row">	
				<div class="col-12 mb-4">
					<div class="title h6">
						{{ text_title }}
					</div>
				</div>
				<div class="col-12 text-center mb-4"><p>{{ text_success }}</p></div>
			</div>
		</div>
	</div>
</div>
