<div class="header-search" id="search">
  <input class="header-search__input" name="search" value="{{ search }}" placeholder="{{ text_search }}">
  <button class="header-search__button">
    <span class="icon-search"></span>
  </button>
</div>